* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.hero {
  color: #fff;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.appointment {
  color: #fff;
}

.footer {
  color: #fff;
}

.header-button, .content-button {
  height: 90%;
  padding: 0 20px;
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.header-button:hover, .content-button:hover {
  background-color: #4b3cb3;
}

.content-button {
  height: 50px;
}

.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: transform 0.3s ease;
  text-decoration: none;
}
.whatsapp-button i {
  font-size: 35px;
  color: #fff;
}
.whatsapp-button:hover {
  transform: scale(1.1);
}

.form {
  display: inline-block;
  width: 70%;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

.header {
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
}
.header__logo {
  margin-left: 20px;
  margin-right: auto;
  height: 80%;
}
.header__cta {
  margin-right: 20px;
  margin-left: auto;
  height: 80%;
}
.header__cta--desktop {
  display: none;
}

@media screen and (min-width: 700px) {
  .header__cta--desktop {
    display: block;
    height: 80%;
    padding-right: 20px;
  }
}
.hero {
  background-image: url("../img/background-hero3.png");
  background-size: cover;
  background-position: top;
  opacity: 0.7;
  padding: 100px 20px;
}
.hero .container {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  border-radius: 10%;
}
.hero .container .hero__schedule {
  margin-bottom: 20px;
}
.hero .container .hero__schedule p {
  font-size: 22px;
}
.hero .container .hero__benefits {
  margin-bottom: 40px;
  list-style-type: none;
}
.hero .container .hero__benefits li {
  margin-bottom: 10px;
  font-size: 18px;
}

@media screen and (min-width: 700px) {
  .hero .container {
    margin: 0 150px;
  }
}
@media screen and (min-width: 999px) {
  .hero .container {
    margin: 0 350px;
  }
}
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}
.service-card span {
  font-size: 3em;
  color: #6c5ce7;
}
.service-card h3 {
  margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
  .service-card {
    width: 50%;
  }
}
@media screen and (min-width: 999px) {
  .service-card {
    width: 33%;
  }
}
.testimonials {
  padding: 20px 0;
}
.testimonials .testimonials-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.testimonials .testimonials-slider .slide {
  flex: 0 0 90%;
  scroll-snap-align: start;
  padding: 20px 40px;
}
.testimonials .testimonials-slider .slide .testimonial {
  font-style: italic;
  background-color: lightskyblue;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 20px;
}
.testimonials .testimonials-slider .slide .name {
  font-weight: bold;
  margin-bottom: 10px;
}
.testimonials .testimonials-slider .slide .problem {
  font-style: italic;
  color: #666;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 700px) {
  .testimonials .testimonials-slider {
    max-width: 75%;
    margin: 0 auto;
  }
}
.location {
  padding: 20px;
  background-color: #f9f9f9;
}
.location .location-content {
  max-width: 800px;
  margin: 0 auto;
}
.location .location-content p {
  margin-bottom: 10px;
}
.location .location-map img {
  max-width: 300px;
}

.faq {
  background-color: #fff;
  padding: 20px 20px;
}
.faq h2 {
  margin-bottom: 25px;
}
.faq .accordion {
  border-bottom: 2px solid #444;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.faq .accordion:last-child {
  border-bottom: none;
}
.faq .accordion .accordion-item .accordion-header {
  cursor: pointer;
  margin-bottom: 10px;
}
.faq .accordion .accordion-item .accordion-content {
  display: none;
}
.faq .accordion .accordion-item.active .accordion-content {
  display: block;
}

@media screen and (min-width: 700px) {
  .faq {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
.services {
  background-color: #f9f9f9;
  padding: 20px 20px;
}
.services h2 {
  margin-bottom: 25px;
}

@media screen and (min-width: 700px) {
  .services .container {
    display: flex;
    flex-wrap: wrap;
  }
}
.appointment {
  position: relative;
  background-image: url("../img/make-an-appointment.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
}
.appointment .appointment-heading {
  margin-bottom: 20px;
}
.appointment .appointment-content {
  margin-bottom: 30px;
}
.appointment .appointment-content a {
  color: white;
}

.footer {
  padding: 20px;
  background-color: #000;
}
.footer .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
  height: 120px;
}
.footer .footer-social .footer-social__link {
  color: #fff;
  text-decoration: none;
}
.footer .footer-social .footer-social__link:hover {
  color: #6c5ce7;
}

@media screen and (min-width: 700px) {
  .footer .footer-social {
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
  }
}/*# sourceMappingURL=main.css.map */