// .form{
//   display: inline-block;
//   width: 70%;
//   &-group{
//     margin-bottom: 20px;
//     label{
//       display: block;
//       margin-bottom: 5px;
//     }
//     input, textarea{
//       width: 100%;
//       padding: 10px;
//       font-size: 1em;
//     }
//   }
// }

.google-form{
  width: 100%;
  max-width: 640px;
  height: 1250px;
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 700px){
  .google-form{
    height: 1100px;
  }
}