.form{
  display: inline-block;
  width: 70%;
  &-group{
    margin-bottom: 20px;
    label{
      display: block;
      margin-bottom: 5px;
    }
    input, textarea{
      width: 100%;
      padding: 10px;
      font-size: 1em;
    }
  }
}