.appointment{
  position: relative;
  background-image: url('../img/make-an-appointment.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  .appointment-heading{
    margin-bottom: 20px;
  }
  .appointment-content{
    margin-bottom: 30px;
  }
}