.footer{
  padding: 20px;
  background-color: #000;
  .footer-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    height: 90px;
    .footer-social__link{
      color: #fff;
      text-decoration: none;
      &:hover{
        color: $main-purple;
      }
    }
  }
}
@media screen and (min-width: 700px){
  .footer{
    .footer-social{
      flex-direction: row;
      justify-content: space-around;
    }
  }
}